<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><title>Credits</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h2>Créditos</h2>
	Autor: <%= autor %> <p>
	<img src="http://gpscasso.neocities.org/yo.jpg">
</body>
</html>